{% extends 'index.html' %}

{% block title %}Other Data{% endblock %}

{% block content %}
    <div class="container">
        <h1>Other Data</h1>
        <h3>Plays At</h3>
        <table class="table table-bordered blackBorder">
            <thead>
                <td>Player</td>
                <td>Stadium</td>
            </thead>
                
            {% for row in playsAt %}
                <tr>
                <td>{{row['name']}}</td>
                <td>{{row['stadiumName']}}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Hosted At</h3>
        <table class="table table-bordered blackBorder">
            <thead>
                <td>Tournament</td>
                <td>Stadium</td>
            </thead>
                
            {% for row in hostedAt %}
                <tr>
                <td>{{row['tournamentName']}}</td>
                <td>{{row['stadiumName']}}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Competes In</h3>
        <table class="table table-bordered blackBorder">
            <thead>
                <td>Player</td>
                <td>Tournament</td>
            </thead>
                
            {% for row in competesIn %}
                <tr>
                <td>{{row['name']}}</td>
                <td>{{row['tournamentName']}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
        
{% endblock %}