{% extends 'index.html' %}

{% block title %}Players{% endblock %}
 
{% block content %}
    <div class="container">
        <br>
        <h3>Players</h3>
        <form action="{{url_for('players')}}" method="POST">
            <table class=" table table-bordered blackBorder">
                <thead>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Ranking</td>
                    <td>Age</td>
                    <td>Gender</td>
                    <td>Home Country</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </thead>
                    
                {% for row in rows %}
                    <tr>
                        <td>{{row['playerID']}}</td>
                        <td>{{row['name']}}</td>
                        <td>{{row['ranking']}}</td>
                        <td>{{row['age']}}</td>
                        <td>{{row['gender']}}</td>
                        <td>{{row['originCountry']}}</td>
                        <td><a href="/edit-player/{{row['playerID']}}" class="btn btn-secondary"><i class="bi bi-pencil"></i></a></td>
                        <td><a href="/delete-player/{{row['playerID']}}" class="btn btn-danger"><i class="bi bi-trash3"></i></a></td>		
                    </tr>
                {% endfor %}
                <tr>
                    <td>...</td>
                    <td><input type="text" name="name" placeholder="name" required></td>
                    <td><input type="number" name="ranking" placeholder="ranking" required></td>
                    <td><input type="number" name="age" placeholder="age" required></td>
                    <td>
                        <select name="gender" id="gender-select" required>
                            <option disabled selected value="">Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </td>
                    <td><input type="text" name="country" placeholder="home country" required></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <input class="btn btn-primary "type="submit" value="Add Player">
        </form>
    </div>
{% endblock %}