{% extends 'index.html' %}

{% block title %}Players{% endblock %}
 
{% block content %}
    <div class="container">
        <h1>Players</h1>
        <table class=" table table-bordered blackBorder">
            <thead>
                <td>ID</td>
                <td>Name</td>
                <td>Ranking</td>
                <td>Age</td>
                <td>Gender</td>
                <td>Home Country</td>
            </thead>
                
            {% for row in rows %}
                <tr>
                <td>{{row['playerID']}}</td>
                <td>{{row['name']}}</td>
                <td>{{row['ranking']}}</td>
                <td>{{row['age']}}</td>
                <td>{{row['gender']}}</td>
                <td>{{row['originCountry']}}</td>		
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}