{% extends 'index.html' %}

{% block title %}Stadiums{% endblock %}

{% block content %}
    <div class="container">
        <h3>Stadiums</h3>
        <table class="table table-bordered blackBorder">
            <thead>
                <td>Name</td>
                <td>Surface</td>
                <td>Occupancy</td>
            </thead>
                
            {% for row in rows %}
                <tr>
                <td>{{row['stadiumName']}}</td>
                <td>{{row['surface']}}</td>
                <td>{{row['occupancy']}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    
{% endblock %}