{% extends 'index.html' %}

{% block title %}Tournaments{% endblock %}

{% block content %}
    <div class="container">
        <h3>Tournaments</h3>
        <form action="{{url_for('tournaments')}}" method="POST">
            <table class="table table-bordered blackBorder">
                <thead>
                    <td>Name</td>
                    <td>Registration Opens</td>
                    <td>Registration Closes</td>
                    <td>Cost</td>
                    <td>Country</td>
                </thead>
                    
                {% for row in rows %}
                    <tr>
                    <td>{{row['tournamentName']}}</td>
                    <td>{{row['registrationDate']}}</td>
                    <td>{{row['deadlineDate']}}</td>
                    <td>${{row['cost']}}</td>
                    <td>{{row['country']}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><input type="text" name="name" placeholder="name" required></td>
                    <td><input type="date" name="opens" placeholder="opens" required></td>
                    <td><input type="date" name="closes" placeholder="closes" required></td>
                    <td>$<input type="number" name="cost" placeholder="cost" required></td>
                    <td><input type="text" name="country" placeholder="country" required></td>
                </tr>
            </table>
            <input type="submit" value="Add Tournament">
        </form>
    </div>
{% endblock %}